/SubnauticaWorldEditor/.idea
/SubnauticaWorldEditorAssets/.idea
/SubnauticaWorldEditorAssets/Packages/Subnautica
/SubnauticaWorldEditorAssets/ThunderKit/AssetBundleStaging
/SubnauticaWorldEditorAssets/Assets/ThunderKitSettings/Logs
